@font-face {
  font-family: 'Gotham Pro';
  font-display: swap;
  src: url('../fonts/GothamProRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  font-display: swap;
  src: url('../fonts/GothamProMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
